@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes'), url("./assets/fonts/TTLakes-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes'), url("./assets/fonts/TTLakes-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes'), url("./assets/fonts/TTLakes-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "TT Lakes", sans-serif;
  color: #1B1C21;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  height: 88px;
  background-color: #FFFFFF;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header-container__column {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.left-column {
  justify-content: flex-start;
}

.header-container__item--tablet {
  display: none;
}

.right-column {
  justify-content: flex-end;
}

.menu__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/burger.svg');
  width: 40px;
  height: 40px;
}

.logo__img {
  margin-left: 0.73px;
  vertical-align: middle;
}

.divider__img {
  margin: 0 4px;
  vertical-align: middle;
  background: no-repeat url('./assets/img/icons/header/divider.svg');
  width: 2px;
  height: 32px;
}

.call__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/call.svg');
  width: 40px;
  height: 40px;
}

.chat__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/chat.svg');
  width: 40px;
  height: 40px;
}

.profile__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/profile.svg');
  width: 40px;
  height: 40px;
}

.repair__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/repair.svg');
  width: 40px;
  height: 40px;
}

.checkstatus__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/checkstatus.svg');
  width: 40px;
  height: 40px;
}

.container {
  background: #F8F8F8;
  min-height: 509px;
  display: flex;
  flex-flow: column;
  border-top: 1px solid #D9FFF5;
}

.title-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  font-style: normal;
}

.title-menu__title {
  padding: 0 16px 0 12px;
  margin: 24px 0 0 0;
  border-left: 4px solid #41F6D7;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.main-menu__item.repair::before {
  content: "Оставить заявку";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-right: 8px;
}

.main-menu__item.checkstatus::before {
  content: "Статус ремонта";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-right: 9px;
}

.slide-menu {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  /* Скрываем scrollbar для IE, Edge и Firefox */
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  padding: 24px 16px;
  gap: 10.26px;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.slide-menu::-webkit-scrollbar {
  display: none;
}

.slide-menu__button {
  flex: 1 0 auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 8px 9.3px 8px 16.54px;
}

.slide-menu__button--active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.slide-menu__button:hover,
.slide-menu__button:focus,
.slide-menu__button:active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.slide-menu__button a {
  color: #7E7E82;
  text-decoration: none;
  font-size: 16px;
}

.main-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-container__item {
  margin: 0;
}

.about-text {
  margin: 0 16px 16px 16px;
}

.about-text__text {
  line-height: 18px;
  letter-spacing: 0.2px;
  display: block;
  margin-block-start: 0;
  margin-block-end: 16px;
}

.about-text__text--tablet {
  line-height: 20px;
  letter-spacing: 0.2px;
  display: none;
  margin-block-start: 0;
  margin-block-end: 10px;
}

.about-text__text--wide {
  line-height: 20px;
  letter-spacing: 0.2px;
  display: none;
  margin-block-start: 0;
  margin-block-end: 13.78px;
}

.dropdown {
  position: relative;
  padding: 0;
  vertical-align: middle;
  border: 0;
  margin: 8px 0 0 24px;
  height: 24px;
  width: 134px;
  background: transparent;
}

.about-text__icon,
.dropdown__icon {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/img/icons/main/expand.svg');
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.about-text__link,
.dropdown__text {
  position: absolute;
  top: 0;
  left: 32px;
  color: #1B1C21;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  vertical-align: middle;
}

.about-img {
  display: block;
}

.about-img img {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .header-container__item--tablet {
    display: inline-block;
  }

  .header-container {
    padding: 0 24px;
    margin-right: 16px;
  }

  .main-container {
    flex-wrap: nowrap;
  }

  .title-menu__title {
    padding-left: 20px;
  }

  .slide-menu {
    padding: 32px 24px;
  }

  .about-text {
    margin: 0 48px 54px 24px;
  }

  .about-text__text {
    display: none;
  }

  .about-text__text--tablet {
    display: block;
  }

  .about-img {
    margin-right: 25px;
  }

  .about-img img {
    max-width: 360px;
  }

  .container {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    border: 0;
  }

  .header-container {
    display: none;
  }

  .nav-container {
    margin: 42px 25px 7px 1px;
  }

  .title-menu__title {
    margin: 0;
    padding-left: 30px;
  }

  .main-menu {
    display: flex;
    padding-right: 7px;
    gap: 32px;
  }

  .slide-menu {
    padding: 8.37px 0 3px 32px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .slide-menu__button {
    flex: 0 1 auto;
  }

  .about-text {
    margin: 9.22px 36px 0 34px;
  }

  .about-text__text {
    display: none;
  }

  .about-text__text--tablet {
    display: none;
  }

  .about-text__text--wide {
    display: block;
  }

  .about-img {
    margin-right: 28.65px;
    margin-bottom: 49px;
  }

  .about-img img {
    max-width: 531.35px;
  }
}

.mobile-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  box-shadow:
    16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.mobile-menu-header {
  padding: 23px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-menu {
  position: relative;
}

.close-menu::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -4.27px;
  left: 56.73px;
  background: no-repeat url('./assets/img/upload/logo.svg');
  width: 97px;
  height: 51px;
}

.close-menu__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/close.svg');
  width: 40px;
  height: 40px;
}

.search__button {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: no-repeat url('./assets/img/icons/header/search.svg');
  width: 40px;
  height: 40px;
}

.mobile-menu-main {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 876px;
  margin: 30px 0 32px 0;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 24px;
}

.navigation__item:hover,
.navigation__item:focus,
.navigation__item:active,
.navigation__item--active {
  border-left: #41F6D7 4px solid;
  padding-left: 20px;
}

.navigation__item:hover .navigation__link,
.navigation__item:focus .navigation__link,
.navigation__item:active .navigation__link,
.navigation__item--active .navigation__link {
  color: #7E7E82;
}

.navigation__link {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  font-weight: 500;
}

.mobile-menu-footer {
  display: block;
  padding-left: 24px;
}

.mobile-menu-footer__button {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.mobile-menu-footer__mail {
  margin-top: 16px;
}

.mobile-menu-footer__mail a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  text-decoration: none;
}

.mobile-menu-footer__phone {
  margin-top: 12px;
}

.mobile-menu-footer__phone a {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  font-weight: bold;
  text-decoration: none;
}

.lang {
  gap: 7px;
}

.lang__item a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  text-decoration: none;
}

.lang__item--active a {
  color: #7E7E82;
}

button {
  transition-duration: 250ms;
}

button:not(.dropdown):hover {
  /*filter: sepia(0.5);*/
  /*background: rgba(65, 246, 215, 1);*/
  filter: invert(100%) contrast(200%);
}

button:not(.dropdown):focus{
  opacity: 0.4;
}
button:not(.dropdown):active {
  transform: scale(90%);
}

.repair-brands {
  box-sizing: border-box;
  min-width: 320px;
  background: #F8F8F8;
}

.repair-brands__title {
  padding: 16px;
  height: 80px;
  border-top: #D9FFF5 1px solid;
  background-image: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.repair-brands__title h2 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  font-weight: 400;
}

.repair-brands__swiper {
  padding: 16px 16px 66px 16px;
  height: auto;
  width: 100%;
  transition: height 500ms ease;
}

.repair-brands__wrapper {
  /*height: 154px;*/
  /*display: flex;*/
  /*overflow: hidden;*/
}

.repair-brands__slide {
  /*flex: 0 0 auto;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /*margin: 16px 0 66px 16px !important;*/
  width: 240px !important;
  height: 72px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

.repair-brands__logo img {
  margin: 20px 0 20px 16px;
  vertical-align: middle
}

.repair-brands__button {
  width: 40px;
  height: 40px;
  margin: 16px 16px 16px 0;
  padding: 0;
  border: 0;
  background: no-repeat url('./assets/img/icons/main/go.svg');
}

.repair-brands__swiper .swiper-pagination {
  margin: 0;
  padding: 0;
  height: 12px;
  bottom: 38px;
}

.repair-brands__swiper .swiper-pagination-bullet {
  margin: 0 6px !important;
  height: 12px;
  width: 12px;
  background: #DDDDDD;
  opacity: 1;
}

.repair-brands__swiper .swiper-pagination-bullet-active {
  background: #B5B6BC;
  opacity: 1;
}

.repair-brands__read-more {
  display: none;
}

.dropped .dropdown__icon {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {

  .repair-brands {
    padding-bottom: 34px;
  }

  .repair-brands__title {
    height: 56px;
  }

  .repair-brands__swiper {
    padding: 24px;
    height: 200px;
  }

  .repair-brands__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
  }

  .repair-brands__slide {
    /*box-sizing: border-box;*/
    width: 224px !important;
  }

  .repair-brands__swiper .swiper-pagination {
    display: none;
  }

  .repair-brands__read-more {
    display: block;
  }

  .dropdown__text {
    left: 33px;
  }

  .repair-brands__read-more.dropped {
    margin: 22px 0 0 24px;
  }

  .repair-brands__read-more.dropped .dropdown__text {
    left: 31px;
  }
}

@media screen and (min-width: 1120px) {
  .repair-brands__slide {
    width: 240px !important;
  }

  .repair-brands__wrapper {
    column-gap: 32px;
  }

  .repair-brands__swiper {
    padding: 24px 32px;
  }

  .repair-brands__read-more {
    margin-left: 31px;
  }

  .repair-brands__read-more.dropped {
    margin: 22px 0 0 32px;
  }

  .dropdown__text {
    left: 32px;
  }
}
